@model IEnumerable<onlineshop.Models.T_User>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<hr />
@if (!Model.Any())
{
    <h3>There is no user.</h3>
}
else
{
    <div class="table-responsive">
        <table class="table table-striped ">
            <thead>
                <tr>
                    <th>
                        Fullname
                    </th>
                    <th>
                        Email
                    </th>
                    <th>
                        Age
                    </th>
                    <th>
                        Actions
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.FullName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Email)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Age)
                        </td>
                        @* <td> *@
                        @*     @Html.ActionLink("Edit", "Update", new { id = item.Id }) | *@
                        @*     @Html.ActionLink("Details", "Details", new { id = item.Id }) | *@
                        @* </td> *@
                        <td class="text-nowrap">
                            <a asp-action="Update" asp-route-id="@item.Id" class="btn btn-warning">Update</a>
                            <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-primary">Details</a>
                            @* <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Delete</a> *@
                            <form asp-action="Delete" method="post" style="display:inline">
                                <input type="hidden" value="@item.Id" name="id" />
                                <button type="submit" class="btn btn-danger">Delete</button>
                            </form>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}