@model IEnumerable<T_TempBasket>
@{
    ViewData["Title"] = "ShowBasket";
}


@if (Model != null && Model.Any())
{
    @foreach (var item in Model)
    {
        <div class="card">
            <div class="card-header">
                @User.Identity.Name Basket
            </div>
            <div class="card-body">
                @foreach (var photo in item.Product.Photos)
                {
                    <img class="border-radius" src="/@photo.ImageUrl" style="width:200px;height:200px">
                }
                <h3 class="card-title">@item.Product.Name</h3>
                <p class="card-text">@item.Quantity</p>
                <p class="card-text">@item.TotalPrice.ToString("N0")</p>
                <div class="d-flex align-items-end">
                    <form method="post" asp-action="EditItems" class="d-flex align-items-end">
                        <input hidden name="tempBasket" value="@item.ID_TempBasket" />
                        <div class="form-group mb-2 me-2">
                            @Html.TextBox("quantity", item.Quantity, new { @type = "number", @min = "1" })
                        </div>
                        <button type="submit" class="btn btn-danger me-2">Edit</button>

                    </form>

                    <form method="post" asp-action="DeleteItems">
                        <input hidden name="tempBasket" value="@item.ID_TempBasket" />
                        <button type="submit" class="btn btn-danger mt-2">Delete</button>
                    </form>
                </div>


            </div>
        </div>
    }
}
else
{
    <h2>There is no basket</h2>
    <hr />
}
<a class="btn alert-success" href="/OnlineShop/checkout">Add Order</a>
<a class="btn alert-info" href="/Home/Index">Continue Shopping</a>

